---
layout: default
---


<div id="main-content">	

	<div class="jumbotron" id="c_jumbotron_full_width_white">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="c_section_content_center">
						<h1 class="c_silsof_header c_header_large">Silver Softworks Blog</h1>
						<hr>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="jumbotron shadow" id="c_jumbotron_full_width">
		<div class="container">

			{% assign i = '0' %}
			{% assign openDiv = false %}

			{% for post in site.posts %}

				{% if i == '0' %}
					<div class="row">
					{% assign openDiv = true %}
				{% endif %}
				
				
					<div class="col-md-4">
						<div class="c_section_content_center">

							<div class="c_post">

								<div class="c_post_tile">
									{% if post.tile == null %}
										<a href="{{ post.url }}" class="noselect"><div class="c_post_letter">
											{{ post.letter}}
										</div></a>
									{% else %}
										<div class="c_post_image">
											<a href="{{ post.url }}"><img src="{{ post.tile }}" class="img-responsive"></a>
										</div>	
									{% endif %}
								</div>
								
								<div class="c_post_header">
									<h1 class="c_header_small">{{ post.title }}</h1>
								</div>
								<div class="c_post_content">
									<p class="c_paragraph_small">{{ post.description }}</p> 
									<h5>{{ post.postDate }}</h5><br>
									<a href="{{ post.url }}" class="btn btn-default c_btn_orange c_btn_small"> Read post</a>
								</div>
								<!--<div class="c_post_footer">

									<h5>Tags</h5>
									<ul class="list-inline">
										{% for category in post.categories %}
											<li><a>{{ category }}</a></li>
										{% endfor %}
									</ul>
								</div>-->
							</div>
						</div>
					</div>

				{% if i == '2' %}
					</div>
					{% assign i = '0' %}
					{% assign openDiv = false %}
				{% else %}
					{% capture i %}{{ i | plus: '1' }}{% endcapture %}
				{% endif %}

			{% endfor %}

			{% if openDiv == true %}
				</div>
			{% endif %}

		</div>
	</div>
	<div class="jumbotron" id="c_jumbotron_full_width_white"></div>
</div>