---
layout: default
---


<div id="main-content">	
	<div class="c_section_large">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="c_section_content_center">
						<h1 class="c_silsof_header c_header_large">Blog</h1>
						<hr />
						<p class="c_paragraph_small">Lorem ipsum dolor sit amet, pro odio option aliquam ne, at nec hinc euismod, erroribus laboramus ex mel. Veri habeo adversarium ut vis, per in movet alterum, in nam nulla choro platonem. Quo elit novum id. Mel cu suavitate intellegam constituam. Dico mutat voluptatibus mea at. Lorem ipsum dolor sit amet, pro odio option aliquam ne, at nec hinc euismod, erroribus laboramus ex mel. Veri habeo adversarium ut vis, per in movet alterum, in nam nulla choro platonem. Quo elit novum id. Mel cu suavitate intellegam constituam. Dico mutat voluptatibus mea at</p>	
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="jumbotron shadow" id="c_jumbotron_full_width">
	</div>

	<div class="c_section_large">
		<div class="container">

			{% for post in site.posts %}

				<div class="row">
					<div class="col-md-12">
						<div class="c_post_container">
							<div class="c_post">
								<div class="c_post_header">
									<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
									<h4>{{ post.author }}</h4>
									<h5>{{ post.postDate }}</h5>
								</div>
								<div class="c_post_content">
									<p>{{ post.description }}</p> <br><br>
									<a href="{{ post.url }}"> Read post</a>
								</div>
								<div class="c_post_footer">
									<ul class="list-inline">
										{% for category in post.categories %}
											<li><a>{{ category }}</a></li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

			{% endfor %}

		</div>
	</div>
</div>