<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <title>Silver Softworks</title>

	    <!-- bootstrap css -->
	    <link href="/css/bootstrap.min.css" rel="stylesheet">
		
		<!-- bootstrap JS -->
		<script type="text/javascript" src="/js/bootstrap.js"></script>

	    <!-- custom css -->
	    <link href="/css/style.css" rel="stylesheet">
	    <link href="/css/fonts.css" rel="stylesheet">
	
	</head>

	<body>

	{% include navigation.html %}

	{{content}}

	<div class="jumbotron shadow" id="c_jumbotron_full_width">
		<div class="container">
			<div class="row">
				<img src="/images/silversoftworks/cloud-grey-shadowed.png" class="c_content_image_center c_content_image_client_logos" style="width: 50px">	
			</div>
		</div>
	</div>
	<footer class="footer" id="c_main_footer">
			<div class="container">
				<div class="row" >
					<!--<div class="col-md-3">
						<img src="images/consultingpartner.png" class="img-responsive navbar-text" id="c_salesforce_partner_logo">
					</div>-->
					<div class="col-md-3">
						<p><strong>Silver Softworks</strong></p>
						<ul class="list-unstyled">
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/services">Services</a></li>
							<li><a href="/success-stories">Testimonials</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<p><strong>Where we can help</strong></p>
						<ul class="list-unstyled">
							<li><a href="#">Considering Salesforce?</a></li>
							<li><a href="#">New Salesforce Implementations</a></li>
							<li><a href="#">Salesforce Integrations</a></li>
							<li><a href="#">Mobile Strategy</a></li>
							<li><a href="#">Salesforce Custom Development</a></li>
							<li><a href="#">Data Migration</a></li>
							<li><a href="#">Continuous Improvement</a></li>
							<li><a href="#">Support</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<p><strong>Connect</strong></p>
						<p>
							<a href="#">Twitter</a><br>
							<a href="#">LinkedIn</a><br>
							<a href="#">Facebook</a><br>
							<a href="#">AppExchange</a><br><br>
							<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <a href="tel://01376318800">01376 318800</a><br>
							<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:info@silversoftworks.com">info@silversoftworks.com</a>
						</p>					
					</div>
					<div class="col-md-3">
						<p><strong>Find us</strong></p>
						<address>
							Silver Softworks<br>
							Cullen Mill,
							49 Braintree Road<br>
							Witham,
							Essex<br>
							CM8 2DD<br><br>
							United Kingdom
						</address>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12" id="c_copyright">
						<p>&copy; Copyright 2016 Silver Softworks - All Rights Reserved</p>
					</div>
				</div>
			</div>
		</footer>
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="/js/bootstrap.min.js"></script>
	</body>
</html